.card {
    margin-bottom: 9px;
}

.card img {
    height: 230px;
    width: 160px;
    cursor: pointer;
}

.cardText p {
    width: 160px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rethink Sans', sans-serif;
    color: #ff5c57;
    font-size: 1.5rem;
}

.cardText p:hover {
    border-bottom: 2px solid #ff5c57;
}