* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #343A40;
}

.container {
  height: 35%;
  margin: auto 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  padding: 5px;
}

.logo img {
  width: 27%;
  height: 27%;
  cursor: pointer;
  border-radius: 50%;
}

.items {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  width: 13%;
  transition: 2ms;
}

.items .login {
  font-family: 'Kdam Thmor Pro', sans-serif;
  cursor: pointer;
}

.items .login:hover {
  transition: 2ms;
  opacity: 0.8;
}

.items .search {
  font-family: 'Kdam Thmor Pro', sans-serif;
  cursor: pointer;
}

.items .search:hover {
  transition: 2ms;
  opacity: 0.8;
}

