* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: rgba(0, 0, 0, 0.04);;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #343A40;
  z-index: 1000;
}

.container {
  height: 35%;
  margin: auto 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  padding: 5px;
}

.logo img {
  width: 27%;
  height: 27%;
  cursor: pointer;
  border-radius: 50%;
}

.items {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  transition: 2ms;
}

.active {
  width: 19%;
}

.items .login {
  font-family: 'Kdam Thmor Pro', sans-serif;
  cursor: pointer;
}

.items .login:hover {
  transition: 2ms;
  opacity: 0.8;
}

.items .search {
  margin-left: 17px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  cursor: pointer;
}

.items .search:hover {
  transition: 2ms;
  opacity: 0.8;
}
/*main page*/
.container-page {
  width: 100%;
  padding-top: 51px;
}

.background-gray {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.08);
}

.background-white {
  background: #e9ebee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.container-text {
  margin: auto 15%;
  height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-text div {
  font-family: 'Rethink Sans', sans-serif;
  color: #212529;
  font-size: 14px;
  margin-right: 2%;
  cursor: pointer;
}

.container-text div:hover {
  color: #ff5c57
}

.container-nexttext {
  margin: auto 15%;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.container-nexttext div {
  font-family: 'Rethink Sans', sans-serif;
  color: #212529;
  margin-bottom: 10px;
}

.container-nexttext div:nth-child(1) {
  font-weight: 700;
  font-size: 2rem;
}

.container-nexttext div:nth-child(2) {
  line-height: 1.5;
  text-align: justify;
  opacity: 0.9;
}

.container-nexttext div:nth-child(3) {
  text-align: justify;
  line-height: 1.5;
  opacity: 0.9;
}

.container-nexttext div:nth-child(3) span {
  font-weight: 700;
}

.slider-container {
  margin: auto 15%;
  padding: 16px 0;
}


.slider-container p {
  font-family: 'Rethink Sans', sans-serif;
  margin-bottom: 14px;
  font-size: 2rem;
  color: #343A40;;
}

.slider-container p span:hover {
  border-bottom: 1px solid #343A40;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accordion-container {
  margin: auto 15%;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containerLibrori {
  margin: auto 15%;
  padding: 16px 0;
}
